plugins:
  - jekyll-archives
  - jekyll-textile-converter

livereload: true

excerpt_separator: "<!--more-->"
markdown: kramdown
highligher: pygments
permalink: "/journal/:year/:month/:day/:title/"
source: source

name: mentalized.net
description: The virtual home of Jakob Skjerning
url: https://mentalized.net

ftp_host: "linux78.unoeuro.com"
ftp_dir: "public_html"
ftp_passive: true

jekyll-archives:
  enabled:
    - categories
    - month
    - year
  layouts:
    category: 'category_archive'
    month: 'monthly_archive'
    year: 'monthly_archive'
  permalinks:
    category: '/journal/:name/'
    month: '/journal/:year/:month/'
    year: '/journal/:year/'

sass:
  sass_dir: stylesheets

defaults:
  -
    scope: # All blog posts
      path: ""
      type: "posts"
    values:
      layout: "post"

include:
  - '.well-known'
