html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video {
  border: 0;
  font: inherit;
  font-size: 100%;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol,ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  margin: 1em 0;
  max-width: 66%;
}

caption,th,td {
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
}

q,blockquote {
  quotes: none;
}

q:before,q:after,blockquote:before,blockquote:after {
  content: none;
}

blockquote,figure,p,pre {
  margin-bottom: .9em;
  margin-top: .9em;
}

blockquote {
  font-family: georgia;
  padding-left: 1.6em;
  padding-right: 1.6em;
}

body {
  background: #f8f8fa;
  border-top: 1em solid #7f8d3e;
  color: #3a3a3a;
  font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Sans-serif;
  line-height: 1.8em;
}

h1,h2,h3 {
  color: #3a3a3a;
  font-family: "Open Sans",arial;
  font-weight: bold;
  letter-spacing: -.01em;
  line-height: 1em;
  margin-bottom: .4em;
  margin-top: 1em;
}

h1 {
  font-size: 2.56em;
  letter-spacing: -.04em;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.6em;
  letter-spacing: -.06em;
  margin-bottom: 1em;
  margin-top: 1.8em;
}

a:link {
  border-bottom: .18em solid #b80004;
  color: #3a3a3a;
  text-decoration: none;
}

a:hover {
  border-bottom: .18em solid #b80004;
  color: #b80004;
}

code,pre {
  font-family: "anonymous pro","courier new",courier;
}

pre {
  background: #336633 url(/images/scanlines.gif) repeat 0 0;
  background: linear-gradient(top,rgba(75,90,75,0.5),rgba(50,60,50,0.5)), url(/images/scanlines.gif) repeat 0 0;
  border-radius: .5em;
  box-shadow: inset #000 0 0 1em;
  color: #efe;
  overflow: auto;
  text-shadow: rgba(200,255,0,0.5) 0 0 .2em;
}

pre,article pre.prettyprint {
  padding: .9em 1.6em;
  width: auto;
}

article h1 a:link,article h1 a:visited,article h1 a:hover {
  border-bottom: none;
  color: #3a3a3a;
  text-decoration: none;
}

article h1 a:hover {
  color: #b80004;
}

article ol,article ul {
  margin: .9em 0 .9em 1.5em;
}

article ol {
  list-style-type: decimal;
}

article ul {
  list-style-type: square;
}

table tr {
  border-bottom: 1px solid #dadae5;
}

table td,table th {
  background: #fff;
  padding: .45em .9em;
  text-align: center;
}

table td:first-child,table th:first-child {
  text-align: left;
}

table td:last-child,table th:last-child {
  text-align: right;
}

table th {
  background: #dadae5;
  font-weight: bold;
}

article {
  clear: both;
  margin-bottom: 2em;
  margin-top: 4em;
  width: 100%;
}

article p {
  max-width: 66%;
}

article img {
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

aside {
  -moz-transition: opacity 1s ease;
  -o-transition: opacity 1s ease;
  -webkit-transition: opacity 1s ease;
  border-left: 2px groove #fff;
  float: right;
  font-size: .8em;
  margin-left: 1em;
  opacity: 0.5;
  transition: opacity 1s ease;
  width: 25%;
}

aside:hover {
  -moz-transition: opacity .1s ease;
  -o-transition: opacity .1s ease;
  -webkit-transition: opacity .1s ease;
  opacity: 1;
  transition: opacity .1s ease;
}

aside p {
  margin: .2em 0 .2em 1.5em;
}

figure {
  background-color: #fff;
  box-shadow: rgba(0,0,0,0.3) 0 0 1em;
  margin-left: 0;
  max-width: 66%;
  overflow: auto;
  text-align: center;
}

figure .columns {
  margin-left: 0;
  overflow: hidden;
  padding: .25em;
}

figure .columns .column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-bottom: 0;
  margin-left: 0;
  padding: .25em;
  width: 100%;
}

figure a {
  display: block;
  margin: 0;
  overflow: hidden;
}

figure img {
  display: block;
  vertical-align: bottom;
  width: 100%;
}

figure.wide {
  max-width: 100%;
  width: 100%;
}

figure.double .column {
  width: 50%;
}

figure.tripple .column {
  width: 33.333%;
}

figcaption {
  font-family: Neucha,serif;
  margin: 0 .5em .5em;
}

footer {
  border-top: 1px dashed #ccc;
  clear: both;
  display: block;
  font-size: .8em;
  margin-bottom: 2em;
  margin-top: 1em;
  padding-top: 2em;
}

header {
  margin-bottom: 1em;
  overflow: hidden;
}

nav {
  float: left;
}

nav ul {
  list-style-type: none;
  margin: .5em 0 .5em .5em;
}

nav li {
  float: left;
  margin-left: .5em;
  width: 7.5em;
}

nav a:link {
  border-color: #666;
}

nav a:hover {
  border-color: #b80004;
}

#branding {
  color: #fff;
  float: left;
}

#branding:after {
  -moz-border-radius-bottomleft: 100%;
  -moz-border-radius-bottomright: 100%;
  -webkit-border-bottom-left-radius: 100%;
  -webkit-border-bottom-right-radius: 100%;
  background: #7f8d3e;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  content: ".";
  display: block;
  height: 1em;
  margin-top: -.5em;
  text-indent: -9999em;
}

#branding a {
  background-color: #7f8d3e;
  border: 0;
  color: #fff;
  display: block;
  font-weight: bold;
  padding: .5em;
  text-align: center;
  text-shadow: rgba(0,0,0,0.7) 0 0 .1em;
  width: 15em;
}

#branding a:hover .description {
  border-color: rgba(255,255,255,0.5);
}

#branding a .description {
  border-top: .2em solid transparent;
  font-size: .7em;
  font-weight: normal;
}

#search {
  float: right;
  margin-top: .9em;
  width: 33%;
}

#search input {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 2em;
  box-shadow: inset rgba(0,0,0,0.2) .1em .1em .2em;
  float: right;
  font-family: "Helvetica Neue",Helvetica,Arial,Verdana,Sans-serif;
  font-size: 1em;
  padding: .2em .8em;
  width: 100%;
}

.container {
  font-size: 1em;
  line-height: 1.8em;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.columns {
  overflow: hidden;
}

.columns .column {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-bottom: 2em;
}

.double .column {
  margin-left: 4%;
  width: 48%;
}

.quad .column {
  margin-left: 4%;
  width: 22%;
}

.comments {
  zoom: 1;
}

.comments:after {
  clear: both;
  content: "";
  display: table;
}

.comments .comments {
  clear: left;
  float: left;
  margin-right: 10%;
  width: 45%;
}

.comments .comment {
  border-top: 1px solid #ccc;
  margin-top: -1px;
}

.comments .comment .author {
  font-weight: bold;
}

.comments .comment .timestamp {
  color: #aaa;
  float: right;
  font-weight: normal;
  letter-spacing: -.05em;
}

.comments .form {
  float: left;
  width: 45%;
}

.comments form .comment {
  float: none;
  width: auto;
}

.category article {
  clear: none;
  float: left;
  margin-bottom: 2em;
  margin-left: 6%;
  margin-top: 0;
  width: 47%;
}

.category article:nth-child(2n-1) {
  clear: left;
  margin-left: 0;
}

.category article p {
  max-width: none;
}

.entries {
  border-top: 1px dashed #ccc;
  margin-bottom: 2em;
  margin-top: 1em;
  padding-top: 2em;
}

.entries h1 {
  margin-top: 0;
}

.pull {
  float: right;
  margin: 0;
  padding: 0;
  width: 66%;
}

.pull p {
  font-size: 1.6em;
  line-height: 1.125em;
  margin: .5em 0 .5em 1.5em;
  max-width: 100%;
  padding: 0;
}

.social {
  margin-bottom: 2em;
  margin-top: 2em;
}

.social ul {
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  width: 205px;
  zoom: 1;
}

.social li {
  background-color: #ccc;
  background-position: 0 0;
  background-repeat: no-repeat;
  float: left;
  margin-right: 1px;
}

.social li a {
  -moz-transition: all ease 1s;
  -o-transition: all ease 1s;
  -webkit-transition: all ease;
  -webkit-transition-delay: 1s;
  background-position: 0 -50px;
  border: none;
  display: block;
  height: 50px;
  opacity: 0;
  padding: 0;
  text-indent: -9999em;
  transition: all ease 1s;
  width: 50px;
}

.social li a:hover {
  -moz-transition: all ease-in .25s;
  -o-transition: all ease-in .25s;
  -webkit-transition: all ease-in;
  -webkit-transition-delay: .25s;
  background-color: #ccc;
  opacity: 1;
  transition: all ease-in .25s;
}

.social .github,.social .github a {
  background-image: url(../images/social/github.png);
}

.social .linked_in,.social .linked_in a {
  background-image: url(../images/social/linked_in.png);
}

.social .twitter,.social .twitter a {
  background-image: url(../images/social/twitter.png);
}

.social .working_with_rails,.social .working_with_rails a {
  background-image: url(../images/social/working_with_rails.png);
}

.video {
  clear: both;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  padding-top: 30px;
  position: relative;
}

.video iframe,.video object,.video embed {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

button {
  -moz-border-radius: .4em;
  -ms-border-radius: .4em;
  -o-border-radius: .4em;
  -webkit-border-radius: .4em;
  background: linear-gradient(top,#eb0005,#b80004);
  border: .1em solid #f57f82;
  border-bottom-color: #850003;
  border-radius: .4em;
  border-right-color: #850003;
  color: #fff;
  cursor: pointer;
  font-size: inherit;
  margin-top: 0;
  padding: .5em 1em;
  text-shadow: rgba(0,0,0,0.5) .1em .1em .1em;
}

button:active {
  margin-top: .1em;
  padding-bottom: .4em;
}

form .field {
  margin-bottom: 1.75em;
  margin-top: .9em;
}

form .hint {
  color: #aaa;
  float: right;
  font-weight: normal;
}

form .hint:before {
  content: "(";
}

form .hint:after {
  content: ")";
}

form .hint a {
  color: #aaa;
}

label {
  cursor: pointer;
  display: block;
  font-weight: bold;
}

textarea {
  height: 19.3em;
}

input {
  margin-top: -.2em;
}

.text input,.text textarea {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #ccc;
  box-sizing: border-box;
  font-size: 1em;
  padding: .2em;
  width: 100%;
}

.checkbox input {
  float: left;
  height: 1.8em;
  margin-right: .5em;
  margin-top: .2em;
  padding: 0;
}

.checkbox input+label {
  padding-left: 1em;
}

a img,figure a:link {
  border: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,nav a {
  display: block;
}

nav li:first-child,.columns .column:first-child {
  margin-left: 0;
}

@media max-width(575px) {
  article p {
    max-width: 100%;
  }

  aside {
    display: none;
  }

  figure {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }

  nav li {
    width: 47%;
  }

  #branding a {
    float: none;
  }

  .double .column {
    float: none;
    margin-left: 0;
    width: auto;
  }

  .double .column:last-child {
    border-top: 1px dashed #ccc;
    margin-bottom: 2em;
    margin-top: 1em;
    padding-top: 2em;
  }

  .comments .comments {
    float: none;
    margin-right: 0;
    width: auto;
  }

  .comments .form {
    float: none;
    width: auto;
  }

  nav,#branding {
    width: 50%;
  }
}

@media max-width(850px) {
  nav li {
    width: 45%;
  }

  #branding a {
    width: auto;
  }

  .category article {
    margin-left: 0;
    max-width: 100%;
    width: auto;
  }

  nav,#branding {
    width: 33%;
  }
}

@media max-width(420px) {
  .quad .column {
    width: 44%;
  }

  .quad .column:nth-child(2n+1) {
    clear: left;
    margin-left: 0;
  }

  nav,#branding {
    float: none;
    width: auto;
  }
}

@media max-width(860px) {
  #search {
    width: 33%;
  }
}

@media max-width(575px) {
  #search {
    width: 100%;
  }
}

@media min-width(960px) {
  .container {
    font-size: 1.6vw;
  }
}
