RewriteEngine on

# Remove www
RewriteCond %{HTTP_HOST} ^www\.mentalized\.net$ [NC]
RewriteRule ^(.*)$ http://mentalized.net/$1 [R=301,L]


# Deny hotlinking
# Only allow requests to images in the journal from specified referrers (or none).
RewriteCond %{HTTP_REFERER}                         !^$
RewriteCond %{HTTP_REFERER}                         !^http://(www\.)?mentalized.net/.*$ [NC]
RewriteCond %{HTTP_REFERER}                         !^http://mentalized.net/.*$ [NC]
RewriteRule ^journal/.*\.(gif|GIF|png|PNG|jpg|JPG)$ - [F]


# Send all requests to .html
RewriteRule ^(.*)\.asp       $1.html
RewriteRule ^(.*)\.php       $1.html

# Strip index.html from URLs
RewriteRule (.*)/index.html  /$1/ [R=301]

# Yearly archives are no more, redirect to the first montly archive of the year
RewriteRule ^journal/(\d\d\d\d)/?$  /journal/$1/01

# Redirect stuff that shows up as 404s
RewriteRule ^about/contact/?$                                                 /about [R=301]
RewriteRule ^docs/projects/j-referrertracker(/.*)$                            /journal/2003/01/27/announcing_jreferrertracker$1 [R=301]
RewriteRule ^journal/movabletype/index.xml                                    /journal/entries.xml [R=301]
RewriteRule ^journal/life/and_so_my_birthday_came_to_pass(/.*)                /journal/2003/06/23/and_so_my_birthday_came_to_pass$1 [R=301]
RewriteRule ^journal/technology/bogus_referrers(/.*)$                         /journal/2003/03/19/bogus_referrers$1 [R=301]
RewriteRule ^journal/technology/google_rocks_my_world(/.*)$                   /journal/2003/08/12/google_rocks_my_world$1 [R=301]
RewriteRule ^journal/technology/i_wonder_what_all_the_rss_fuss_is_about(/.*)  /journal/2003/05/05/i_wonder_what_all_the_rss_fuss_is_about$1 [R=301]
RewriteRule ^journal/technology/scrap_those_pixels(/*)                        /journal/2003/08/08/scrap_those_pixels$1 [R=301]
RewriteRule ^journal/movies/us_customers_only_please(/*)                      /journal/2002/11/11/us_customers_only_please$1 [R=301]
RewriteRule ^journal/technology/adjusting_ergonomically(/*)                   /journal/2002/08/22/adjusting_ergonomically$1 [R=301]
RewriteRule ^journal/technology/phonecam_to_blog_in_7_keypresses(/*)          /journal/2003/04/01/phonecam_to_blog_in_7_keypresses$1 [R=301]
RewriteRule ^journal/technology/creating_color_schemes(/*)                    /journal/2003/08/08/creating_color_schemes$1 [R=301]
RewriteRule ^journal/archives/technology/bogus_referrers(/*)                  /journal/2003/03/19/bogus_referrers$1 [R=301]
RewriteRule ^journal/archives/movielink(/*)                                   /journal/2002/11/11/us_customers_only_please/ [R=301]
RewriteRule ^journal/archives/technology/musical_dinosaurs/                   /journal/2002/10/23/musical_dinosaurs/ [R=301]
RewriteRule ^journal/archives/technology/tweaking_the_website/                /journal/2003/01/27/tweaking_the_website/ [R=301]
RewriteRule ^journal/2005/10/building_your_very_own_web20_layout(/.*)?        /journal/2005/10/10/building_your_very_own_web20_layout/ [R=301]
RewriteRule ^journal/2005/10/10/building_your_very_own_web20_layou\.\.        /journal/2005/10/10/building_your_very_own_web20_layout/ [R=301]
RewriteRule ^journal/2006/07/28/run_specific_(/.*)?$                          /journal/2006/07/28/run_specific_tests_via_rake/ [R=301]
RewriteRule ^journal/2008/05/27/stikipad_when_software_in_th(\.\.\.)?         /journal/2008/05/27/stikipad_-_when_software_in_the_cloud_goes_sour/ [R=301]
RewriteRule ^journal/2010/10/16/rails_rumble_2010/                            /journal/2010/10/17/rails_rumble_2010/ [R=301]
RewriteRule ^journal/2011/05/18/pileup_carousel(/.*)?                         /journal/2011/05/18/experiment_pileup_carousel/ [R=301]
RewriteRule ^journal/2011/05/24/silencing_postgresql/                         /journal/2011/05/24/how_to_silence_postgresql_in_rails/ [R=301]
RewriteRule ^journal/2009/08/03/redmine(/.*)?$                                /journal/2009/08/03/redmine_plugin_github_hook/ [R=301]
RewriteRule ^journal/2008/10/16/immediatefeedbackformatter_better_formatted_rspec_output(/*)    /journal/2008/10/16/immediatefeedbackformatter_-_better_formatted_rspec_output/ [R=301]
RewriteRule ^journal/2003/08/25/wwwnikenoyoucantplaycom(/*)                   /journal/2003/08/25/wwwnike-no-you-cant-playcom/ [R=301]
RewriteRule ^journal/2007/06/25/fixing_freetds_on_os_x_like_a_rubywielding_ostrich_would(/*)    /journal/2007/06/25/fixing_freetds_on_os_x_like_a_ruby-wielding_ostrich_would/ [R=301]
RewriteRule ^journal/2003/06/18/stupid_antileech_protection(/*)               /journal/2003/06/18/stupid_anti-leech_protection/ [R=301]
RewriteRule ^journal/2006/10/24/browser_size_does_matter_actual_numbers(/*)   /journal/2006/10/24/browser_size_does_matter_-_actual_numbers/ [R=301]
RewriteRule ^journal/2006/10/24/size_does_matter_actual_numbers(/*)           /journal/2006/10/24/browser_size_does_matter_-_actual_numbers/ [R=301]
RewriteRule ^journal/2006/01/24/no_such_file_to_load_--_mkmf(/*)              /journal/2006/01/24/no_such_file_to_load_mkmf(/*) [R=301]

# Process requests to the defunct CSS Depot
RewriteRule cssdepot/layouts(.*)  /cssdepot/index.html

# Strip archives from oldstyle links to the journal archives
RewriteRule ^journal/archives/(.+)$                           /journal/$1 [R=301]
RewriteRule ^journal/quicklinks/archives/(\d+/\d+/\d+)/(.*)/  /journal/quicklinks/$1/link/ [R=301]

# Send requests for the deprecated features section to the relevant pages in the journal
RewriteRule ^features/everquest/omens_of_war_armor_quests(/.*)                /journal/2004/11/03/omens_of_war_armor_quests$1 [R=301]
RewriteRule ^features/elsewhere/splinter_cell_pandora_tomorrow_review(/.*)    /journal/2004/05/19/splinter_cell_pandora_tomorrow_review$1 [R=301]
RewriteRule ^features/everquest/ssraeshza_temple_notes(/.*)                   /journal/2004/03/05/ssraeshza_temple_notes$1 [R=301]
RewriteRule ^features/everquest/alternate_advancement_aa_titles(/.*)          /journal/2004/02/04/alternate_advancement_aa_titles$1 [R=301]
RewriteRule ^features/everquest/10th_ring_war_overview(/.*)                   /journal/2003/10/04/10th_ring_war_overview$1 [R=301]
RewriteRule ^features/elsewhere/world_of_warcraft_preview(/.*)                /journal/2001/09/05/world_of_warcract_preview$1 [R=301]
RewriteRule ^features/everquest/class_titles(/.*)                             /journal/2003/07/30/everquest_class_titles$1 [R=301]
RewriteRule ^features/everquest/the_iksar_handbook_of_infiltration(/.*)       /journal/2003/07/30/the_iksar_handbook_of_infiltration$1 [R=301]
RewriteRule ^features/movable_type/power_your_website_with_movable_type(/.*)  /journal/2003/08/01/power_your_website_with_movable_type$1 [R=301]
RewriteRule ^features/everquest/velious_custom_helmets(/.*)                   /journal/2003/08/26/velious_custom_helmets$1 [R=301]
RewriteRule ^features/projects/asptunetracker(/.*)                            /journal/2003/09/01/asptunetracker$1 [R=301]
RewriteRule ^features/elsewhere(/?)                                           /journal/ [R=301]
RewriteRule ^features/everquest(/?)                                           /journal/games/ [R=301]
RewriteRule ^features/projects(/?)                                            /journal/projects/ [R=301]
RewriteRule ^features(/?)                                                     /journal/ [R=301]

