---
layout: default
---

<article>
  <h1>
    <a href="{{ site.posts.first.url }}" title="Read '{{ site.posts.first.title }}'">
      {{ site.posts.first.title }}
    </a>
  </h1>

  <aside>
    <p>
      Posted
      <span class="timestamp">{{ site.posts.first.date | date_to_long_string }}</span>
      in
      {{ site.posts.first.categories | array_to_sentence_string }}
    </p>
  </aside>

  {{ site.posts.first.excerpt }}

  <div class="more">
    <a href="{{ site.posts.first.url }}" title="Read '{{ site.posts.first.title }}'">Read the entire entry</a>
  </div>
</article>

<section class="entries double columns">
  <section class="recent column">
    <h1>Recent entries</h1>

    <ul>
      {% for post in site.posts limit: 4 %}
        <li>
          <a href="{{ post.url }}" title="Read '{{ post.title }}'">
            {{ post.title }}
          </a>
        </li>
      {% endfor %}
      <li>
        <a href="/journal/archives/" title="View everything Jakob has written">More&hellip;</a>
      </li>
    </ul>
  </section>

  <section class="popular column">
    <h1>Popular entries</h1>

    <ul>
      <li><a href="/journal/2019/09/13/ruby-2-3-rvm-and-openssl-1-0/">How to fix Ruby 2.3 with OpenSSL on Mojave using MacPorts and RVM</a></li>
      <li><a href="/journal/2019/10/19/use-sass-modules-in-rails/">How to use Sass modules in Rails with Webpacker</a></li>
      <li><a href="/journal/2011/04/14/ruby-how-to-check-if-a-string-is-numeric/">Ruby: How to check if a String is numeric</a></li>
      <li><a href="/journal/2017/04/22/run-rails-migrations-on-heroku-deploy/">Run migrations when deploying to Heroku</a></li>
      <li><a href="/journal/2010/03/08/5-ways-to-run-commands-from-ruby/">5 ways to run commands from Ruby</a></li>
    </ul>
  </section>
</section>

<section class="topics">
  <h1>Explore the archives</h1>
  <p>
    I have written about
    {% assign categories = site.categories | sort %}
    {% for category in categories %}{% if forloop.index > 1 %}{% if forloop.last == true %} and{% else %},{% endif %}{% endif %}
      <a href="/journal/{{category[0] | slugify}}/" title="View {{category[1].size}} entries about {{category[0]}}">{{category[0]}}</a>{% endfor %}.
  </p>
</section>

<section class="social-links">
  <ul class="social-links-list">
    <li class="social-links-list-item twitter"><a rel="me" href="https://twitter.com/mentalizer" title="Jakob on Twitter">Twitter</a></li>
    <li class="social-links-list-item github"><a rel="me" href="https://github.com/koppen" title="Jakob on Github">Github</a></li>
    <li class="social-links-list-item stack_overflow"><a rel="me" href="http://stackoverflow.com/users/33245/jakob-s" title="Jakob on Stack Overflow">Stack Overflow</a></li>
    <li class="social-links-list-item linked_in"><a rel="me" href="https://www.linkedin.com/in/jakobskjerning" title="Jakob on LinkedIn">LinkedIn</a></li>
  </ul>
</section>
